<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Smart Contact Manager</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title"> We Are Save Our Contact</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a th:href="@{/login}" class="btn btn-primary">Login</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

</section>



</body>
</html>