<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">

      <div class="text-center">
      <h1 class="font-weight-bold">Smart Contact Manager</h1>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore accusantium obcaecati tenetur molestias modi ullam, dolor, rem minima asperiores eligendi laudantium delectus ea distinctio voluptates debitis corrupti vel aut nulla?</p>
           <button class="btn bg-primary btn-lg text-white">Get Started</button>
      </div>


</section>



</body>
</html>