<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base2::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>login page</title>
</head>
<body>
<section>

<h1> Welcome To SmartContactManager</h1>
<div class="jumbotron">
  <h1 class="display-4">Hello, mr/ms  <span th:text="${user.name}"></span></h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>


</section>



</body>
</html>